body {
   
}



.container {
    position: absolute;
    width: 60%;
    min-width: 500px;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    display: grid;
    justify-items: center;
    padding: 50px 10px;
    background-color: #ffddd2;
}